[flake8]
exclude = .pytest_cache, .tox, .venv, build, dist
extend-ignore =
    # Missing docstrings
    D100, D101, D102, D103, D104, D105, D106, D107
    # function and variable names should be lowercase
    N801, N802, N803, N806,
    # Visual effect
    E124, E128, E301, E501
per-file-ignores =
    tests/*: D
